<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aware.plugin.device_usage">

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:icon, android:label">

        <service
            android:label="AWARE: Device Usage"
            android:name="com.aware.plugin.device_usage.Plugin"
            android:exported="true" />

        <provider
            android:name="com.aware.plugin.device_usage.Provider"
            android:authorities="${applicationId}.provider.device_usage"
            android:label="@string/plugin_device_usage"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <activity
            android:name="com.aware.plugin.device_usage.Settings"
            android:exported="true" />

        <service
            android:name="com.aware.plugin.device_usage.syncadapters.Device_Usage_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_device_usage" />
        </service>

    </application>
</manifest>
